In [1]:
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.utils import shuffle
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
import math

trab = pd.read_csv("C:\\Users\\danil\\Documents\\Mestrado\\Redes Neurais\\MLP Regressor\\base.csv",sep=';')

trab = shuffle(trab.head(100))

trab.describe()

,V1,v2,V3,V4,V5,V6,V7,V8,V9,V10,...,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,...,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,121.870000,120.230000,119.170000,118.330000,117.810000,117.340000,116.910000,116.400000,115.580000,114.92000,...,556.070000,550.480000,545.250000,539.840000,533.24000,528.080000,523.530000,519.620000,516.370000,513.790000
std,37.591277,35.461988,34.905082,34.703959,34.825886,34.962959,35.119448,35.238867,35.050088,35.03582,...,237.742593,237.095109,236.791106,236.145081,233.54878,233.027318,233.112209,233.688811,234.579084,235.610889
min,86.000000,86.000000,85.000000,85.000000,84.000000,84.000000,83.000000,83.000000,83.000000,83.00000,...,296.000000,296.000000,296.000000,296.000000,296.00000,296.000000,294.000000,292.000000,292.000000,292.000000
25%,97.000000,97.000000,96.750000,96.000000,95.750000,94.750000,94.000000,94.000000,93.750000,93.00000,...,362.000000,357.250000,351.500000,349.250000,346.75000,340.000000,321.250000,318.750000,317.500000,315.250000
50%,105.000000,105.000000,105.000000,104.500000,103.500000,102.500000,102.000000,102.000000,101.500000,101.00000,...,491.500000,490.500000,490.000000,483.500000,477.00000,477.000000,472.500000,467.000000,466.000000,463.000000
75%,136.250000,134.500000,134.000000,131.750000,129.500000,127.500000,127.500000,126.250000,125.250000,122.75000,...,663.500000,650.250000,648.000000,629.250000,618.50000,610.250000,605.750000,603.500000,597.000000,597.000000
max,250.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.000000,231.00000,...,1169.000000,1169.000000,1169.000000,1169.000000,1169.00000,1169.000000,1169.000000,1169.000000,1169.000000,1169.000000

In [20]:

X = trab.drop(['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12'],axis=1)
y = trab.iloc[:,60]

X = MinMaxScaler().fit_transform(X)

#Train data
train_X = X[:int(len(X)*0.8)]
train_y = y[:int(len(y)*0.8)]
#Test data
test_X = X[int(len(X)*0.8):]
test_y = y[int(len(y)*0.8):]


erros = []

In [21]:

nn = MLPRegressor(
    hidden_layer_sizes=(10,),  activation='logistic', solver='sgd', alpha=0.001, batch_size=200,
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=200, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1)

n = nn.fit(train_X, train_y)
predictions = nn.predict(test_X)

print(test_y)

for y,p in zip(test_y,predictions):
    print(y)
    print ('esperado:'+str(y)+ ' Medido: '+str(p) )

25    605
24    706
30    623
87    310
95    298
92    303
14    490
62    468
71    430
47    522
91    305
68    537
75    371
65    492
58    392
29    571
48    502
57    392
60    460
26    545
Name: s1, dtype: int64
605
esperado:605 Medido: 611.7669846402472
706
esperado:706 Medido: 611.7669846402472
623
esperado:623 Medido: 611.7669846402472
310
esperado:310 Medido: 611.7519542027537
298
esperado:298 Medido: 603.8250608057544
303
esperado:303 Medido: 610.82682535205
490
esperado:490 Medido: 611.7669846402472
468
esperado:468 Medido: 611.766984639193
430
esperado:430 Medido: 611.7669846402338
522
esperado:522 Medido: 611.7669846402472
305
esperado:305 Medido: 611.384757265095
537
esperado:537 Medido: 611.7669846402248
371
esperado:371 Medido: 611.7669846391025
492
esperado:492 Medido: 611.7669846391824
392
esperado:392 Medido: 611.7669846401471
571
esperado:571 Medido: 611.7669846402472
502
esperado:502 Medido: 611.7669846402472
392
esperado:392 Medido: 611.76698464023
460
esperado:460 Medido: 611.7669846396109
545
esperado:545 Medido: 611.7669846402472

c:\users\danil\appdata\local\programs\python\python37\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:350: UserWarning: Got `batch_size` less than 1 or larger than sample size. It is going to be clipped
  warnings.warn("Got `batch_size` less than 1 or larger than "